.dmdeskCpanel {
  position: relative;
  min-height: 150px;
  overflow-y: auto;
  margin-right: 2px;
  margin-left:30px;
  margin-top:10px;
  max-height:350px;
}
.btn{
	position:relative;
	margin-top:22px;
	height:49px;
	width:100%;
	border-top: 1px solid #E5E8EF;

}
.btn input{
	position:absolute;
	top:10px;
	width:77px;
	height:33px;
	background-color:#0590CC;
	border-style:none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	color:#fff;
}
.popSubmit {
	right:106px;
}
.popCancel {
	right:14px;
}
.searchInput{
	position:absolute;	
	top:0;
	left:130px;
	height: 34px;
	width: 360px;
	background: none;
	font-size: 14px;
	border:1px solid #DEE5F5;
}
.netPic {
	position:absolute;
	color:#D3DBE8;
	font-size:34px;
	cursor:pointer;
	left:502px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-webkit-box-shadow: 0px 2px 0px #aabdcd;
	-moz-box-shadow: 0px 2px 0px #aabdcd;
	-o-box-shadow: 0px 2px 0px #aabdcd;
	box-shadow: 0px 2px 0px #aabdcd;
}
.advanceSearchContainer {
	text-align:right;	
}
.advanceSearchContainer li{
	position:relative;
	margin-bottom: 10px;
	height:36px;
}
