@charset "utf-8";
/* CSS Document */

.content{
	width:600px;
	height:260px;
	margin:0 auto;
	padding:0;
}
.basicInfo {
	margin-left:16px;
	margin-right:60px;
	width:500px;
	/*height:317px;*/
	/*	background-color:#D9D9D9;*/
	color:#333333;
	text-align:right;


}


.basicInfo li{
	margin-bottom:10px;
	height:36px;
	position:relative;
}
.input_text{
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	width:367px;
	height:34px;
	border:1px solid #E5E9EF;
	margin-right: 6px;
	line-height:36px;
}

.btn{
	position:relative;
	height:65px;
	width:100%;
	border-top: 1px solid #E5E8EF;

}
.btn input{
	position:absolute;
	top:15px;
	width:77px;
	height:33px;
	background-color:#0590CC;
	border-style:none;border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	color:#fff;
	font-family: 'Microsoft YaHei','????','\5FAE\8F6F\96C5\9ED1';
	-webkit-box-shadow: 0px 2px 0px #4483b0;
	-moz-box-shadow: 0px 2px 0px #4483b0;
	-o-box-shadow: 0px 2px 0px #4483b0;
	box-shadow: 0px 2px 0px #4483b0;
}
.popSubmit {
	right:106px;
}
.popCancel {
	right:14px;
}

.deskAddTitleInfo{
	display:block;
	position:absolute;
	left:-4px;
	width:120px;
	height:36px;
	line-height:36px;
	text-align:right;
}


.dmdeskCpanel {
  position: relative;
  height:194px;
  overflow-y: auto;
  margin-right: 22px;
}
#dmDeskCluster{
	background-color:#CACCD1;
	cursor:default;

}
