@charset "utf-8";
/* CSS Document */

.content{
	width:600px;
	height:300px;
	margin:0 auto;
	padding:0;
}
.basicInfo {
	margin-left:40px;
	margin-right:60px;
	width:536px;
	/*height:317px;*/
	/*	background-color:#D9D9D9;*/
	color:#333333;
	text-align:right;


}
.choosenet{
	margin-top:22px;

}
.basicInfo li:first-child{
	/*margin-top:22px;*/
}
.basicInfo li{
	margin-bottom:10px;
	height:36px;
	position:relative;
	overflow:hidden;
}
.input_text{
	width:200px;
	height:34px;
	border:1px solid #E5E9EF;
	margin-left:0;
	margin-right:130px;
}
.seperate{
	color:#E5E9EF;
	height: 36px;
	line-height: 36px;
}
.btn{
	position:relative;
	margin-top:22px;
	height:49px;
	width:100%;
	border-top: 1px solid #E5E8EF;

}
.btn input{
	position:absolute;
	top:10px;
	width:77px;
	height:34px;
	background-color:#0590CC;
	border-style:none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	color:#fff;
}
.popSubmit {
	right:60px;
}
.popCancel {
	right:145px;
}

.deskAddTitleInfo{
	display:block;
	position:absolute;
	left:98px;
	width:84px;
	height:36px;
	line-height:36px;
	text-align:right;
}
.tipInfo,.tip {
	display:block;
	position:relative;
	height:36px;
	line-height:36px;
	text-align:center;
	font-size:12px;
}
.tip {
	color:red;
}
.deskAddTitle{
	display:block;
	position:absolute;
	left:0;
	width:160px;
	height:36px;
	line-height:36px;
	text-align:left;
}
.popSelectBox {
	position:absolute;	
	left:121px;
	height:36px;
	border:1px solid #DEE5F5;
	text-align:left;
}
.dmdeskCpanel {
  position: relative;
  height:214px;
  overflow-y: auto;
  margin-right: 22px;
}
.selectNetWorkPanel {
	position:relative;
}
.selectNetWorkContainer {
	text-align:right;	
}
.netPic {
	position:relative;
	color:#D3DBE8;
	font-size:34px;
	cursor:pointer;
}
#dmDeskpoolCluster{
	background-color:#CACCD1
	
	}

